@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenue chez AntMan Zoo !</h1>

<p>Venez voir tous nos animaux tous mignons !</p>

<div class="d-flex flex-wrap gap-5">
    @foreach (var animal in AnimalsList)
    {
        <div class="card" style="width: 18rem;">
            <img src="@animal.ImageLink">
            <div class="card-body">
                <h5 class="card-title">@animal.Name</h5>
                <p class="card-text">@animal.Description</p>
                <a href="/animal/@animal.Id" class="btn btn-primary" ReRenderCallBack="ReRender">Voir</a>
                <a @onclick="() => Delete(animal.Id)" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    }
</div>
