@page "/register";

@using AntManZooClassLibrary.DTOs;
@using AntManZooClassLibrary.Models;
@using AntManZooBlazor.Services;
@inject NavigationManager NavManager;


<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Créer un compte</h2>

                            <EditForm OnValidSubmit="SubmitStaff" Model="StaffToAdd">

                                <form>

                                    <div class="form-outline mb-4">
                                        <InputText class="form-control form-control-lg" id="Firstname"@bind-Value="StaffToAdd!.Firstname" />
                                        <label class="form-label" for="Firstname">Votre prénom</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <InputText class="form-control form-control-lg" id="Lastname"@bind-Value="StaffToAdd!.Lastname" />
                                        <label class="form-label" for="Lastname">Votre nom de famille</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <InputText class="form-control form-control-lg" id="Email"@bind-Value="StaffToAdd!.Email" />
                                        <label class="form-label" for="Email">Votre adresse mail</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <InputText class="form-control form-control-lg" id="Password"@bind-Value="StaffToAdd!.Password" />
                                        <label class="form-label" for="Password">Password</label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            S'inscrire
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Vous avez déjà un compte ? <a href="login"
                                                                      class="fw-bold text-body"><u>Connectez vous ici</u></a>
                                    </p>

                                </form>
                            </EditForm>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

