@using AntManZooBlazor.Services;
@using AntManZooClassLibrary.Models;
@inherits LayoutComponentBase;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="#" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if(!AnimalsList.Any())
            {
                <h2>@LoadingMessage</h2>
            }
            else
            {
                <CascadingValue Value="@AnimalsList" Name="animalsList">
                    @Body
                </CascadingValue>
            }
        </article>
    </main>
</div>

@code{
    private string? LoadingMessage { get; set; }

    [Inject]
    public IAnimalService AnimalService { get; set; }
    public List<Animal> AnimalsList { get; set; } = new List<Animal>();

    protected override async Task OnInitializedAsync()
    {
        LoadingMessage = "Récupération des données des animaux...";
        AnimalsList = await AnimalService.GetAll();
        LoadingMessage = "";
    }
}